:root {
    --second: #2F2F2F;
    --main: #F6F6F6;
    --rare: #FFCB74;
    --third: #111111;
    --buy: #4dba47;
    --discounts: rgb(214, 54, 67);
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {

    line-height: 1.6;
    background-color: var(--main);
    color: var(--third);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header-main {
    background-color: var(--rare);
    position: sticky;
    margin-bottom: 10px;
    height: 70px;
    display: flex;            
    justify-content: space-between;
    padding: 0px 20px;
     

    h1 {
        color: var(--rare);
        font-size: 3em;
        margin: 0;
    }

  
    
}
.L{
    display: flex;    
    align-items: center;
}
.M{
    border-radius: 16px;
    background-color: var(--second);
display: flex;   
        gap: 10px;  
}

.R{
    display: flex;   
    gap: 20px;  
 align-items: center;
}


.header {
    background-color: var(--second);
    position: sticky;
    margin-bottom: 10px;
    height: 70px;
    display: flex;            
    justify-content: center;
     

    h1 {
        color: var(--rare);
        font-size: 3em;
        margin: 0;
    }

    div {
        display: flex;   
        gap: 10px;              
    }
}


.login-card {
    text-align: center;
    vertical-align: middle;

    width: 30%;
    height: 450px;
    margin: 30px auto;
    padding: 10px;
    background-color: var(--second);
    border-radius: 16px;

    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
        color: var(--rare);
        font-size: 3em;

    }

    form {
        margin-top: 30px;

    }

    input {
        width: 80%;
        height: 50px;
        margin: 20px 10px;
        padding: 0px 10px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
    }

    button {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        background-color: var(--rare);
        color: var(--third);
        font-size: 1.5em;
        cursor: pointer;
    }
    button:hover {
        background-color: #e6b85c;
        color: var(--main);
    }

    p {
        margin-top: 30px;
        font-size: 20px;
        color: var(--main);
    }

    a {

        color: rgb(11, 102, 192);
        text-decoration: none;
    }
}

.signup-card {
    text-align: center;
    vertical-align: middle;

    width: 30%;
    height: 650x;
    margin: 30px auto;
    padding: 10px;
    background-color: var(--second);
    border-radius: 16px;

    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
        color: var(--rare);
        font-size: 3em;

    }

    form {
        margin-top: 30px;

    }

    input {
        width: 80%;
        height: 50px;
        margin: 20px 10px;
        padding: 0px 10px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
    }

    button {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        background-color: var(--rare);
        color: var(--third);
        font-size: 1.5em;
        cursor: pointer;
    }
    button:hover {
        background-color: #e6b85c;
        color: var(--main);
    }

    p {
        margin-top: 30px;
        font-size: 20px;
        color: var(--main);
    }

    a {

        color: rgb(11, 102, 192);
        text-decoration: none;
    }
}

.home{
    h1{
        text-align: center;
        color: var(--rare);
        text-decoration: underline var(--third);
        font-size: 3em;
    }
    
}
.search-home{
    display: flex;
    justify-content: center;
    input{
    width: 300px;
    height: 50px;
    border: 1px solid var(--third);
    border-radius: 8px;
    text-align: center;
    font-size: large;
    
    }

}

.category{
     display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      
}
.category-item{
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    img{
        width: 100%;
        height: 100%;
    }

}
 .name {
      font-weight: bold;
      margin-top: 10px;
      font-size: 30px;
    }

.discount{
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      
}
.discount-item{
     display: inline-block;
    margin: 20px;
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    height: 300px;

}

.footer-main {
    display: flex;
    background-color: var(--rare);
    margin-top: auto;
    color: var(--third);
    height: 200px;
    justify-content: space-between;
    
}

.footer {
    background-color: var(--second);
    text-align: center;
    margin-top: auto;
    color: var(--main);
    height: 70px;
    
}




