:root {
    --second: #2F2F2F;
    --main: #F6F6F6;
    --rare: #FFCB74;
    --third: #111111;
    --buy: #4dba47;
    --discounts: rgb(214, 54, 67);
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {

    line-height: 1.6;
    background-color: var(--main);
    color: var(--third);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    background-color: var(--second);
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;            
    justify-content: center;
     

    h1 {
        color: var(--rare);
        font-size: 3em;
        margin: 0;
    }

    div {
        display: flex;   
        gap: 10px;              
    }
}


.login-card {
    text-align: center;
    vertical-align: middle;

    width: 40%;
    height: 500px;
    margin: auto;
    padding: 10px;
    background-color: var(--second);
    border-radius: 16px;

    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
        color: var(--rare);
        font-size: 3em;

    }

    form {
        margin-top: 30px;

    }

    input {
        width: 80%;
        height: 50px;
        margin: 20px 10px;
        padding: 0px 10px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
    }

    button {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        background-color: var(--rare);
        color: var(--third);
        font-size: 1.5em;
        cursor: pointer;
    }
    button:hover {
        background-color: #e6b85c;
        color: var(--main);
    }

    p {
        margin-top: 30px;
        font-size: 20px;
        color: var(--main);
    }

    a {

        color: rgb(11, 102, 192);
        text-decoration: none;
    }
}

.signup-card {
    text-align: center;
    vertical-align: middle;

    width: 40%;
    height: 700px;
    margin: auto;
    padding: 10px;
    background-color: var(--second);
    border-radius: 16px;

    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
        color: var(--rare);
        font-size: 3em;

    }

    form {
        margin-top: 30px;

    }

    input {
        width: 80%;
        height: 50px;
        margin: 20px 10px;
        padding: 0px 10px;
        border: none;
        border-radius: 8px;
        font-size: 1em;
    }

    button {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        background-color: var(--rare);
        color: var(--third);
        font-size: 1.5em;
        cursor: pointer;
    }
    button:hover {
        background-color: #e6b85c;
        color: var(--main);
    }

    p {
        margin-top: 30px;
        font-size: 20px;
        color: var(--main);
    }

    a {

        color: rgb(11, 102, 192);
        text-decoration: none;
    }
}

.footer {
    background-color: var(--second);
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;            
    justify-content: center;

    padding: 20px;
    margin-top: auto;
    color: var(--main);
    height: 80px;
}